{
    "extends": "./node_modules/@plone/volto/.eslintrc", 
    "settings": {
        "import/resolver": {
            "alias": {
                "extensions": [
                    ".js", 
                    ".jsx", 
                    ".json"
                ], 
                "map": [
                    [
                        "@package", 
                        "./src"
                    ], 
                    [
                        "~", 
                        "./src"
                    ], 
                    [
                        "volto", 
                        "./src/addons/volto/src"
                    ], 
                    [
                        "volto-mosaic", 
                        "./src/addons/volto-mosaic/src"
                    ], 
                    [
                        "volto-datablocks", 
                        "./src/addons/volto-datablocks/src"
                    ], 
                    [
                        "volto-addons", 
                        "./src/addons/volto-addons/src"
                    ], 
                    [
                        "volto-ckeditor", 
                        "./src/addons/volto-ckeditor/src"
                    ], 
                    [
                        "volto-blocks", 
                        "./src/addons/volto-blocks/src"
                    ], 
                    [
                        "volto-corsproxy", 
                        "./src/addons/volto-corsproxy/src"
                    ], 
                    [
                        "volto-drafteditor", 
                        "./src/addons/volto-drafteditor/src"
                    ], 
                    [
                        "@plone/volto", 
                        "./src/addons/@plone/volto/src"
                    ], 
                    [
                        "volto-plotlycharts", 
                        "./src/addons/volto-plotlycharts/src"
                    ], 
                    [
                        "volto-sidebar", 
                        "./src/addons/volto-sidebar/src"
                    ]
                ]
            }, 
            "babel-plugin-root-import": {
                "rootPathSuffix": "src"
            }
        }
    }
}