{
    "extends": "./node_modules/@plone/volto/.eslintrc", 
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    [
                        "@plone/volto", 
                        "@plone/volto/src"
                    ], 
                    [
                        "@package", 
                        "./src"
                    ], 
                    [
                        "~", 
                        "./src"
                    ], 
                    [
                        "volto-metadata-block", 
                        "./src/develop/volto-metadata-block/src"
                    ]
                ]
            }
        }
    }
}