.sticky-tabs {
  position: sticky;
  z-index: 9;
  top: 101px;
  margin: 25px 0;
}

.modern-tabs {
  padding-top: 0 !important;
  margin: 25px 0;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  background-color: #f1f0ee;

  box-shadow: 0 1px 6px 0 #c7d5d8;
}

.nav-tab-item:hover {
  background: #cd4200 !important;
  color: #fff !important;
}

.tabs-view-menu .ui.menu .active.item {
  border-radius: 0 !important;
  font-weight: bold;
}

.tabs-view-menu .ui.menu .item {
  color: #554535;
  font-weight: bold;
}

.mobile-nav-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  fill: white !important;
}

/* media queries  */

@media screen and (max-width: 1400px) {
  .sticky-tabs {
    top: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .modern-tabs {
    background-color: white;
  }
}

@media screen and (max-width: 1300px) {
  .sticky-tabs {
    top: 125px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-tabs {
    top: 79px;
  }

  .mobile-authenticated-sticky {
    top: 101px;
  }
}
