.sticky-tabs {
  position: sticky;
  top: 110px;
  background: white;
  z-index: 9;
  padding-top: 0 !important;
  margin: 25px 0;
}

.modern-tabs {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem !important;
  margin-bottom: 25px;
}

.nav-tab-item:hover {
  background: #cd4200 !important;
  color: #fff !important;
  border-radius: 0.25rem !important;
}

.tabs-view-menu .ui.menu .active.item {
  border-radius: 0.25rem !important;
  font-weight: bold;
}

.tabs-view-menu .ui.menu .item {
  font-weight: bold;
  color: #554535;
}

.active-nav-tab {
  border-radius: 0.25rem !important;
}
