.sticky-tabs {
  position: sticky;
  top: 79px;
  z-index: 9;
  padding-top: 0 !important;
  margin: 25px 0;
}

.modern-tabs {
  box-shadow: 0 1px 6px 0 #c7d5d8;
  margin-bottom: 25px;
  background-color: #f1f0ee;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.nav-tab-item:hover {
  background: #cd4200 !important;
  color: #fff !important;
}

.tabs-view-menu .ui.menu .active.item {
  border-radius: 0 !important;
  font-weight: bold;
}

.tabs-view-menu .ui.menu .item {
  font-weight: bold;
  color: #554535;
}

/* media queries  */

@media screen and (max-width: 1578px) {
  .sticky-tabs {
    top: 101px;
  }
}

@media screen and (max-width: 1280px) {
  .sticky-tabs {
    top: 79px;
  }
}
@media screen and (max-width: 1200px) {
  .modern-tabs {
    background-color: white;
  }
}

@media screen and (max-width: 767px) {
  .sticky-tabs {
    top: 79px;
  }
}
