/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element specify theme name below */

/* Global */
@site        : 'forest';
@reset       : 'forest';

/* Elements */
@button      : 'forest';
@container   : 'forest';
@divider     : 'forest';
@flag        : 'forest';
@header      : 'forest';
@icon        : 'forest';
@image       : 'forest';
@input       : 'forest';
@label       : 'forest';
@list        : 'forest';
@loader      : 'forest';
@placeholder : 'forest';
@rail        : 'forest';
@reveal      : 'forest';
@segment     : 'forest';
@step        : 'forest';

/* Collections */
@breadcrumb  : 'forest';
@form        : 'forest';
@grid        : 'forest';
@menu        : 'forest';
@message     : 'forest';
@table       : 'forest';

/* Modules */
@accordion   : 'forest';
@checkbox    : 'forest';
@dimmer      : 'forest';
@dropdown    : 'forest';
@embed       : 'forest';
@modal       : 'forest';
@nag         : 'forest';
@popup       : 'forest';
@progress    : 'forest';
@rating      : 'forest';
@search      : 'forest';
@shape       : 'forest';
@sidebar     : 'forest';
@sticky      : 'forest';
@tab         : 'forest';
@transition  : 'forest';

/* Views */
@ad          : 'forest';
@card        : 'forest';
@comment     : 'forest';
@feed        : 'forest';
@item        : 'forest';
@statistic   : 'forest';

/* Extras */
@main        : 'forest';
@custom      : 'forest';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : './themes';

/* Path to site override folder */
@siteFolder  : "../../theme";

/*******************************
         Import Theme
*******************************/

@import (multiple) "./theme.less";
@import "themes/forest/collections/blocks.overrides";
@import "themes/forest/modules/modal.overrides";
@fontPath : "../../@{theme}/assets/fonts";

/* End Config */
